<ion-tabs>

    <ion-tab-bar slot="bottom">
        <!-- <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pulse">
            <ion-icon name="pulse"></ion-icon>
            <ion-label>Pulse</ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="learn">
            <ion-icon name="bookmarks"></ion-icon>
            <ion-label>Employee List</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chat">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>Approval List</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="doLogout()">
            <ion-icon name="power"></ion-icon>
            <ion-label>Logout</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>