app-root {
    /* header bar csss start*/
    .headerico {
        // margin-right: 0px !important;
        margin: 4px 4px 4px 0px !important;
        width: 40px;
        height: 40px;
    }
    .notifyico {
        width: 25px;
        height: 25px;
        // margin: auto;
        padding-left: 4px;
        color: #f4f4f4;
    }
    .headrrow {
        margin-top: 10px;
    }
    .transparent {
        --background: transparent;
        --ion-color-base: transparent !important;
        -webkit-padding-start: 0 !important;
        padding-inline-start: 0 !important;
        -webkit-padding-end: 0 !important;
        padding-inline-end: 0 !important;
    }
    .searchbar {
        border-radius: 10px;
        color: #fff;
        height: 35px;
        background: #0000003d;
    }
    /* header bar csss end*/
    .textUppercase {
        text-transform: uppercase;
    }
    .error-messages{
        font-size: 1.2em;
        color:red;
    } 
}