<ion-header mode="ios">
    <ion-toolbar color="primary">
        <ion-title no-padding>
            <ion-item class="transparent" no-padding lines="none">
                <ion-avatar slot="start" ion-justify-content-start margin-vertical class="headerico">
                    <img src="../../assets/icon/Bitmap.png">
                </ion-avatar>
                <ion-searchbar placeholder="Search" color="medium-tint" no-padding ion-justify-content-center class="searchbar" mode="ios"></ion-searchbar>
                <ion-icon name="notifications" ion-justify-content-end class="notifyico"></ion-icon>
            </ion-item>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    You are logged in now...
</ion-content>