app-learn {
    .learnmain{
        // --background: #f4f4f4;
        --background: #f5f7fa;
    }

    .coursecard{
        --background: #fff;
    }

    .tabLabel{
        font-size: 3.5vw;
        font-weight: bold;
        text-transform: initial;
    }

    .subtabLabel{
        font-size: 3vw;
    }

    .footrrow {
        margin-bottom: 10px;
    }
    .item-inner {
        -webkit-padding-end: 0 !important;
        padding-inline-end: 0 !important;
    }
    .ico {
        width: 32px;
        height: auto;
        margin: auto;
    }
    .colMarg {
        margin: auto;
        padding: 0;
    }
    .cardtitl {
        margin: 0;
        font-size: larger;
        line-height: 23px;
        color: #161616;
    }
    .classrmtxt {
        margin: 10px 0;
        line-height: 10px;
        font-size: 14px;
    }
    .classIcon {
        --margin: auto;
        font-size: 12px;
        margin-right: 8px;
    }
    .targetTtile {
        margin: auto;
        line-height: 27px;
        font-size: 12px;
    }
    .mandatory {
        height: 25px;
        --background: #ffa045 !important;
        font-size: 12px;
        --border-radius: 25px;
        margin: 8px 0;
        --box-shadow: none;
        --ripple-color: #ffa045;
    }
    .aspirational {
        --background: rgb(215, 134, 255);
        height: 25px;
        font-size: 12px;
        --border-radius: 25px;
        margin: 8px 0;
        --box-shadow: none;
        --ripple-color: rgb(215, 134, 255);
    }
    .recommended {
        --background: rgb(70, 193, 222);
        height: 25px;
        font-size: 12px;
        margin: 8px 0;
        --border-radius: 25px;
        --box-shadow: none;
        --ripple-color: rgb(70, 193, 222);
    }
    .roundico {
        padding: 0;
        height: 32px;
        width: 32px;
        margin-right: auto;
        font-size: 20px;
        background: #3880ff;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        line-height: 38px;
    }
    .pullBottom {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    .btngrp:fir .tabbuttn {
        width: auto;
        --background: #3880ff;
    }
    .subtitl {
        margin: 0;
        font-size: small;
        line-height: 18px;
    }
    .toolbar-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        -webkit-padding-start: 0 !important;
        padding-inline-start: 0 !important;
        -webkit-padding-end: 0 !important;
        padding-inline-end: 0 !important;
    }
    .ion-padding,
    [padding] {
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --padding-top: 0 !important;
        --padding-bottom: 0 !important;
    }
    .ionBtn {
        --border-radius: 25px;
    }
    .segbtn:first-child {
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }
    .segbtn:last-child {
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }
    ion-segment-button {
        min-height: 35px;
        line-height: 0rem !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .topHeader {
        width: 100%;
        padding: 20px;
        text-align: justify;
    }
    .topHead {
        font-size: large;
        line-height: 30px;
        margin: 0;
    }
    .subhead {
        margin: 0;
        font-size: x-small;
        line-height: 20px;
    }
}